<div *ngIf="nota < 11">
    <div class="bg-success">
        <h4 class="p-1">Cuestionario</h4>
    </div>
    <div class="container p-1">
        <div class="accordion" id="accordionExample">

            <div *ngFor="let pr of ps10; let ind = index;">
                <div class="card">
                    <div class="card-header" id="{{'p'+ ind}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-danger" type="button" data-toggle="collapse" [attr.data-target]="'#r' + ind" aria-expanded="false" [attr.aria-controls]="'r'+ ind">
                    {{ ind + 1 }}.- {{ pr.preg }}
            </button>
                        </h2>
                    </div>
                    <div id="{{'r'+ ind}}" class="collapse" aria-labelledby="p0" data-parent="#accordionExample">
                        <div class="card-body">
                            <div *ngFor="let resp of pr.resps; let val=index;">
                                <div class="form-check mt-1" *ngIf="resp">
                                    <input class="form-check-input" type="radio" name="{{'rb' + ind}}" (click)="calNota(ind, pr.vals[val])">
                                    <label class="form-check-label"> {{resp}} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="card">
                <div class="card-header text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf='tienename == ""'>Enviar</button>
                    <button type="button" class="btn btn-primary button1" (click)='updateAfiliado()' *ngIf='tienename != ""'>{{botonenviar}}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Escriba primero sus datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nombres:</label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="" #elname>
                        </div>
                        <div class="form-group">
                            <label for="recipient-last" class="col-form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="recipient-last" placeholder="" #ellast>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="registrar(elname.value, ellast.value)" *ngIf="registrado">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="nota > 9">
    <h3 class="text-center mt-5">Felicitaciones has aprobado</h3>
    <div class="text-center mt-5">
        <button type="button" class="btn btn-primary" routerLink="/diploma4">Ver Diploma</button></div>
</div>