<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active text-danger" aria-current="page"><b>Contenidos</b></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="{{ empimg }}" class="card-img-top" alt="...">
        </div>
        <div class="col-12 mt-2">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" [routerLink]="['/productos']">
                  Productos
                </button>
                        </h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" [routerLink]="['/beneficios']">
                  Planes y beneficios
                </button>
                        </h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" [routerLink]="['/liderazgo']">
                  Liderazgo
                </button>
                        </h2>
                    </div>
                </div>
                <div class=" card ">
                    <div class="card-header " id="headingFour ">
                        <h2 class="mb-0 ">
                            <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " aria-expanded="false " aria-controls="collapseFour " [routerLink]="[ '/capacitaciones'] ">
                  Amor al Pr&oacute;jimo
                </button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>