<h4 class="text-success ml-1">{{ muser() }}</h4>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Contenidos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Capacitaciones</li>
    </ol>
</nav>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="{{ capimg }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title titulo">Capacitaciones</h5>
                <a href="#" class="card-link">Presentación</a>
                <p class="card-text">Esta sección trata las capacitaciones.</p>
            </div>
            <div class="miscroll">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Capacitaciones
                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <a href="#" class="card-link">Video</a>&nbsp;
                                <a href="#" class="card-link">PDF</a>&nbsp;
                                <a href="#" class="card-link">Examen</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Detalles
                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <a href="#" class="card-link">Video</a>&nbsp;
                                <a href="#" class="card-link">PDF</a>&nbsp;
                                <a href="#" class="card-link">Examen</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Observaciones
                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <a href="#" class="card-link">Video</a>&nbsp;
                                <a href="#" class="card-link">PDF</a>&nbsp;
                                <a href="#" class="card-link">Examen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand"><span class="text-primary display-6" (click)="irA('formacion')">Regresar</span></a>
        <a class="navbar-brand"></a>
        <a class="navbar-brand"><span class="text-success display-6" (click)="logout()"> Cerrar Sesión</span></a>
    </nav>
</div>
