<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active text-danger" aria-current="page"><b>Amor al Prójimo</b></li>
        </ol>
    </nav>
    <nav class="sticky-top bg-light">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-ver-tab" data-toggle="tab" href="#nav-ver" role="tab" aria-controls="nav-ver" aria-selected="true">Ver</a>
            <a class="nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Video</a>
            <a class="nav-link" id="nav-pdfs-tab" data-toggle="tab" href="#nav-pdfs" role="tab" aria-controls="nav-pdfs" aria-selected="false">Pdf</a>
            <a class="nav-link" id="nav-test-tab" data-toggle="tab" href="#nav-test" role="tab" aria-controls="nav-test" aria-selected="false">Test</a>
            <a class="nav-link" id="nav-temas-tab" data-toggle="tab" routerLink="/formacion" role="tab" aria-controls="nav-temas" aria-selected="false">Temas</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-ver" role="tabpanel" aria-labelledby="nav-ver-tab">
            <div class="p-1">
                <div class="alert alert-primary mt-3 text-justify" role="alert">
                    El Amor al Prójimo está siempre en nuestro pensamiento y es la energía que guía y activa nuestros pasos.
                </div>
                <div class="alert alert-secondary text-justify" role="alert">
                    El amor al prójimo se deriva necesariamente del amor de Dios, y no puede haber verdadero amor de Dios sin el prójimo, a la hora de la verdad la religión se convierte en realidad cuando uno dice que ama a Dios y ama a su prójimo.
                </div>
                <div class="alert alert-success text-justify" role="alert">
                    El amor al prójimo no es amar al que siempre está en la buena contigo, es también amar a los enemigos, sí, a esa persona que tú no le hablas o que siempre discute contigo debes de amarla.
                </div>
                <div class="alert alert-danger text-justify" role="alert">
                    El verdadero amor está dispuesto a odiar lo que es malo y ama lo que es bueno para manifestación de la verdadera justicia.
                </div>
                <div class="alert alert-warning text-justify" role="alert">
                    El amor genuino al prójimo se expresa en los hechos, y no sólo con palabras. Se expresa a través de lo que uno realmente hace en la vida.
                </div>
                <div class="alert alert-info text-justify" role="alert">
                    Se manifiesta en la preocupación por los demás a través del habla con amabilidad y demostrar generosidad con las posesiones materiales dadas por Dios.
                </div>
                <div class="alert alert-light text-justify" role="alert">
                    Debemos mostrar el amor a al prójimo para que la violencia no merme nuestra sana manera de vivir. El amor al prójimo nos hará verdaderos seres espirituales que desea Dios.
                </div>
                <div class="alert alert-dark text-justify" role="alert">
                    No uses el Amor al prójimo para aprovecharte de los demás
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bKi5sREjkws?rel=0" allowfullscreen></iframe>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/D7KKlC0LOyw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="tab-pane fade mt-3" id="nav-pdfs" role="tabpanel" aria-labelledby="nav-pdfs-tab">
            <div class="p-1">
                <div class="alert alert-primary mt-3 text-justify" role="alert">
                    <a download href="assets\pdf\El_Mandamiento_del_Amor_al_Projimo.pdf">1.- <u>El Mandamiento de Amor al Prójimo.</u> </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">
            <app-ex4></app-ex4>
        </div>
        <div class="tab-pane fade" id="nav-temas" role="tabpanel" aria-labelledby="nav-temas-tab">...</div>
    </div>
</div>
