<div class="container">

    <div class="row">
        <div class="col-12">
            <img src="{{ empimg }}" class="card-img-top" alt="...">
        </div>
        <div class="col-12 mt-2">
            <video width="300" height="120" controls>
            <source src="{{videoyou}}" type="video/mp4">

          Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-12">
            <img src="{{ empimg }}" class="card-img-top" alt="...">
        </div>
        <div class="col-12">
            <img src="{{ empimg }}" class="card-img-top" alt="...">
        </div>
    </div>
