/* You can add global styles to this file, and also import other style files */

@import '~firebaseui/dist/firebaseui.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
.mlm {
    font-family: 'Lora', serif;
}

.titulo {
    color: blue;
}

.miscroll {
    height: 200px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}

.spanini :hover {
    background-color: red;
}

.button1 {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button1:hover {
    background-color: #3e8e41
}

.button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.blackletter {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: calc(0.8em + 0.8vw);
    margin-top: 2em;
    padding-top: 2em;
    font-weight: 900;
    color: purple;
}

.motivo {
    font-family: 'Times', cursive;
    font-size: calc(0.5em + 0.5vw);
    font-weight: 900;
    color: blue;
}

.motivo1 {
    font-family: 'Times', cursive;
    font-size: calc(0.5em + 0.5vw);
    margin: 1em;
    font-weight: 900;
    color: transparent;
}

.purple {
    font-family: 'Late', cursive;
    font-size: calc(0.5em + 0.5vw);
    padding: 1em;
    margin: 1em;
    font-weight: 900;
    color: purple;
}

.elegante {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: calc(1.5em + 1.5vw);
    padding: 1.5em;
    margin: 1.5em;
    font-weight: 900;
    color: red;
}