<div id="diploma" class="container-fluid">
    <div id="" class="row justify-content-center align-items-center" style="width: 100vw; height: 70vw; background-image: url({{diploma}});
          background-repeat: no-repeat;
          background-size: contain;">
        <div class="mt-4">

            <p class="mt-4 motivo1 text-center">Puntuación: {{nota}} puntos</p>
            <div style="height:5%"></div>

            <h1 class="mt-4 pt-4 blackletter text-center">
                {{nombre}}
            </h1>
            <p id="" class="motivo text-center mb-4 pb-4">( {{nota}} pts.)</p>
            <p class="mt-4 motivo1 text-center">( {{nota}} puntos)</p>
        </div>
    </div>
</div>
<form action="">
    <div class="row justify-content-center align-items-center">
        <p><button id="btnCapturar" class="btn btn-light" type="submit">Guardar</button></p>
    </div>

</form>
<script>
    const $boton = document.querySelector("#btnCapturar"),
        $objetivo = document.querySelector("#diploma");
    $boton.addEventListener("click", () => {
        html2canvas($objetivo) // Llamar a html2canvas y pasarle el elemento
            .then(canvas => {
                // Cuando se resuelva la promesa traer¨¢ el canvas
                // Crear un elemento <a>
                let enlace = document.createElement("a");
                enlace.download = "dilpoma.png";
                // Convertir la imagen a Base64
                enlace.href = canvas.toDataURL();
                // Hacer click en ¨¦l
                enlace.click();
            });
    });
</script>